@{
  ViewData["Title"] = "Home";
}

<div>
  <p>Choose disciplines</p>
  <div class="alert alert-success" role="alert">
    Changes saved
  </div>
  <div>
    <a asp-action="Index">Back to HomePage</a>
  </div>
</div>
